<footer class="footer" data-anchor="contacts">
  <div class="footer__top">
    <div class="container footer__top-container">
      <h2 class="title h2 footer__title">контакты</h2>
      <div class="footer__contacts">
        <dl class="footer__details">
          <div class="footer__details-item">
            <dt class="footer__name">Телефон</dt>
            <dd class="footer__val"><a href="tel:+971501234567" aria-label="Позвонить нам">+971 50 123 4567</a></dd>
          </div>
          <div class="footer__details-item">
            <dt class="footer__name">Instagram</dt>
            <dd class="footer__val"><a href="#" target="_blank" rel="noopener noreferrer" aria-label="Наш инстаграм">@adbeauty</a></dd>
          </div>
          <div class="footer__details-item">
            <dt class="footer__name">E-mail</dt>
            <dd class="footer__val"><a href="mailto:adbeauty@gmail.com" aria-label="Написать нам по почте">adbeauty@gmail.com</a></dd>
          </div>
          <div class="footer__details-item">
            <dt class="footer__name">Работаем</dt>
            <dd class="footer__val">с 10:00 до 19:00</dd>
          </div>
          <div class="footer__details-item">
            <dt class="footer__name">Адрес</dt>
            <dd class="footer__val">улица 43А, No:2, Эль Бада', Джумейра, эмират Дубай</dd>
          </div>
        </dl>
        <a href="#" target="_blank" rel="noopener noreferrer" class="btn-reset btn btn-small footer__contacts-btn">
          <span class="btn__text">открыть в google maps</span>
        </a>
      </div>
      <div class="footer__maps">

      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__bottom-container">
      <small class="footer__copy">©2023 «HIGH22». Все права защищены.</small>
      <a href="#" class="footer__privacy">Политика конфиденциальности</a>
    </div>
  </div>
</footer>
