<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>HIGH 22</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="HIGH 22">
  <meta name="keywords" content="салон красоты, маникюр, педикюр">
  <meta name="Author" content="">
  <meta name="Copyright" content="">
  <meta name="Address" content="">
  <meta property="og:locale" content="">
  <meta property="og:type" content="">
  <meta property="og:title" content="HIGH 22">
  <meta property="og:description" content="мир красоты, в котором правят качество и комфорт">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="HIGH 22">
  <meta name="twitter:card" content="">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="HIGH 22">
  <meta name="twitter:description" content="мир красоты, в котором правят качество и комфорт">
  <meta name="twitter:image" content="">
  <link rel="preload" href="fonts/VelaSans-GX.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/VelaSans-GX.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/VelaSans-GX.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/VelaSans-GX.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Tahoma-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
