<header class="header">
  <div class="container header__container">
    <a href="#" class="logo header__logo" aria-label="Логотип"></a>
    <nav class="nav header__nav" title="Главное меню" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><button type="button" class="btn-reset nav__btn" data-menu-item data-scroll="services">Услуги</button></li>
        <li class="nav__item"><button type="button" class="btn-reset nav__btn" data-menu-item data-scroll="portfolio">Наши работы</button></li>
        <li class="nav__item"><button type="button" class="btn-reset nav__btn" data-menu-item data-scroll="advantages">Преимущества</button></li>
        <li class="nav__item"><button type="button" class="btn-reset nav__btn" data-menu-item data-scroll="shop">Магазин</button></li>
        <li class="nav__item nav__item--m"><button type="button" class="btn-reset nav__btn" data-menu-item data-scroll="contacts">Контакты</button></li>
      </ul>
    </nav>
    <div class="header__contacts" data-dynamic-state="header__nav, 576, last">
      <a href="tel:+971501234567" class="phone phone--in header__phone" aria-label="Позвонить нам">+971 50 123 4567</a>
      <button type="button" class="btn-reset btn btn-small header__btn">
        <span class="btn__text">записаться</span>
      </button>
    </div>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
