<section class="hero">
  <div class="container hero__container">
    <h1 class="title h1 hero__title">Мир красоты, в котором правят качество и комфорт</h1>
    <span class="hero__subtitle">Полный спектр парикмахерских и косметологических услуг</span>
    <div class="hero__btns">
      <button type="button" class="btn-reset btn btn-large btn-large--white">
        <span class="btn__text">Записаться</span>
      </button>
      <button type="button" class="btn-reset btn btn-large btn-large--second">
        <span class="btn__text">Все услуги</span>
      </button>
    </div>
  </div>
</section>
