<section class="portfolio" data-anchor="portfolio">
  <div class="container portfolio__container">
    <h2 class="title h2 portfolio__title">наши работы</h2>
    <div class="tabs portfolio__tabs" data-tabs="portfolio">
      <ul class="list-reset tabs__nav portfolio__nav">
        <li class="tabs__nav-item portfolio__item"><button class="btn-reset tabs__nav-btn portfolio__btn"
            type="button">Брови</button></li>
        <li class="tabs__nav-item portfolio__item"><button class="btn-reset tabs__nav-btn portfolio__btn"
            type="button">волосы</button></li>
        <li class="tabs__nav-item portfolio__item"><button class="btn-reset tabs__nav-btn portfolio__btn"
            type="button">Косметология</button></li>
        <li class="tabs__nav-item portfolio__item"><button class="btn-reset tabs__nav-btn portfolio__btn"
            type="button">маникюр и педикюр</button></li>
      </ul>
      <div class="tabs__content portfolio__content">
        <div class="tabs__panel portfolio__panel">
          <ul class="list-reset portfolio__list">
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-1.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-1.avif" type="image/avif">
                  <source srcset="img/portfolio-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-1.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-2.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-2.avif" type="image/avif">
                  <source srcset="img/portfolio-image-2.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-2.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-3.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-3.avif" type="image/avif">
                  <source srcset="img/portfolio-image-3.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-3.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-4.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-4.avif" type="image/avif">
                  <source srcset="img/portfolio-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-4.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
          </ul>
        </div>
        <div class="tabs__panel portfolio__panel">
          <ul class="list-reset portfolio__list">
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-2.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-2.avif" type="image/avif">
                  <source srcset="img/portfolio-image-2.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-2.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-1.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-1.avif" type="image/avif">
                  <source srcset="img/portfolio-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-1.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-3.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-3.avif" type="image/avif">
                  <source srcset="img/portfolio-image-3.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-3.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-4.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-4.avif" type="image/avif">
                  <source srcset="img/portfolio-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-4.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
          </ul>
        </div>
        <div class="tabs__panel portfolio__panel">
          <ul class="list-reset portfolio__list">
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-2.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-2.avif" type="image/avif">
                  <source srcset="img/portfolio-image-2.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-2.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-1.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-1.avif" type="image/avif">
                  <source srcset="img/portfolio-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-1.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-3.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-3.avif" type="image/avif">
                  <source srcset="img/portfolio-image-3.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-3.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-4.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-4.avif" type="image/avif">
                  <source srcset="img/portfolio-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-4.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
          </ul>
        </div>
        <div class="tabs__panel portfolio__panel">
          <ul class="list-reset portfolio__list">
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-1.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-1.avif" type="image/avif">
                  <source srcset="img/portfolio-image-1.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-1.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-2.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-2.avif" type="image/avif">
                  <source srcset="img/portfolio-image-2.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-2.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-4.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-4.avif" type="image/avif">
                  <source srcset="img/portfolio-image-4.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-4.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
            <li class="portfolio__item">
              <a data-fslightbox="gal" href="img/portfolio-image-3.jpg" class="portfolio__gallery-link"
                aria-label="Увеличить изображение" title="Увеличить">
                <picture class="picture portfolio__picture">
                  <source srcset="img/portfolio-image-3.avif" type="image/avif">
                  <source srcset="img/portfolio-image-3.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio-image-3.jpg" class="image portfolio__image" width="318"
                    height="318" alt="Пример работы">
                </picture>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a href="#" target="_blank" rel="noopener noreferrer"
      class="btn-reset btn btn-large btn-large--primary portfolio__btn-primary">
      <span class="btn__text">Больше работ в instagram</span>
    </a>
  </div>
</section>
