<section class="products" data-anchor="shop">
  <div class="container grid products__container">
    <div class="products__wrapper">
      <h2 class="title h2 products__title">Комплексный подход к уходу за собой</h2>
      <p class="text products__text">В нашем интернет-магазине вы можете найти продукцию косметических брендов, которая
        поможет продлить эффект от процедури обеспечить грамотный ежедневный уход.
      </p>
    </div>
    <ul class="list-reset products__list">
      <li class="products__item">
        <article class="card">
          <a href="#">
            <picture class="picture card__picture">
              <source srcset="img/products-image-1.avif" type="image/avif">
              <source srcset="img/products-image-1.webp" type="image/webp">
              <img loading="lazy" src="img/products-image-1.jpg" class="image card__image" width="415" height="463" alt="Уход за кожей лица">
            </picture>
          </a>
          <div class="card__content">
            <a href="#">
              <h3 class="title h3 card__title">Уход за кожей лица</h3>
            </a>
            <span class="card__price">$90</span>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="card">
          <a href="#">
            <picture class="picture card__picture">
              <source srcset="img/products-image-2.avif" type="image/avif">
              <source srcset="img/products-image-2.webp" type="image/webp">
              <img loading="lazy" src="img/products-image-2.jpg" class="image card__image" width="415" height="463" alt="Ordinary набор">
            </picture>
          </a>
          <div class="card__content">
            <a href="#">
              <h3 class="title h3 card__title">Ordinary набор</h3>
            </a>
            <span class="card__price">$200</span>
          </div>
        </article>
      </li>
    </ul>
    <ul class="list-reset brands">
      <li class="brands__item">
        <img src="img/svg/brand-icon-1.svg" alt="Revlon professional" class="brands__image">
      </li>
      <li class="brands__item">
        <img src="img/svg/brand-icon-2.svg" alt="american crewиCofficial" class="brands__image">
      </li>
      <li class="brands__item">
        <img src="img/svg/brand-icon-3.svg" alt="Moroccanoil" class="brands__image">
      </li>
      <li class="brands__item">
        <img src="img/svg/brand-icon-4.svg" alt="nashi" class="brands__image">
      </li>
      <li class="brands__item">
        <img src="img/svg/brand-icon-5.svg" alt="Guinot institut paris" class="brands__image">
      </li>
      <li class="brands__item">
        <img src="img/svg/brand-icon-6.svg" alt="Dibi milano" class="brands__image">
      </li>
    </ul>
  </div>
</section>
