<section class="promo">
  <div class="container promo__container">
    <h2 class="title h2 promo__title">БЬЮТИ ВСЕЛЕННАЯ ДЛЯ САМЫХ МОДНЫХ И ВЛЮБЛЕННЫХ В КРАСОТУ</h2>
    <p class="text promo__text">Дипломированные мастера, современная техника, органическая продукция, стильный интерьер
      c фотозоной — здесь все создано для вашего удобства и комфортного отдыха.
    </p>
    <ul class="list-reset promo__list">
      <li class="promo__item promo__item--1 rellax" data-rellax-speed="2" data-rellax-percentage="0">
        <picture class="picture promo__picture">
          <source srcset="img/promo-image-1.avif" type="image/avif">
          <source srcset="img/promo-image-1.webp" type="image/webp">
          <img loading="lazy" src="img/promo-image-1.jpg" class="image" width="201" height="198" alt="Интерьер">
        </picture>
      </li>
      <li class="promo__item promo__item--2 rellax" data-rellax-speed="3" data-rellax-percentage="0">
        <picture class="picture promo__picture">
          <source srcset="img/promo-image-2.avif" type="image/avif">
          <source srcset="img/promo-image-2.webp" type="image/webp">
          <img loading="lazy" src="img/promo-image-2.jpg" class="image" width="251" height="190" alt="Интерьер">
        </picture>
      </li>
      <li class="promo__item promo__item--3 rellax" data-rellax-speed="1" data-rellax-percentage="0">
        <picture class="picture promo__picture">
          <source srcset="img/promo-image-3.avif" type="image/avif">
          <source srcset="img/promo-image-3.webp" type="image/webp">
          <img loading="lazy" src="img/promo-image-3.jpg" class="image" width="326" height="227" alt="Интерьер">
        </picture>
      </li>
      <li class="promo__item promo__item--4 rellax" data-rellax-speed="3" data-rellax-percentage="0">
        <picture class="picture promo__picture">
          <source srcset="img/promo-image-4.avif" type="image/avif">
          <source srcset="img/promo-image-4.webp" type="image/webp">
          <img loading="lazy" src="img/promo-image-4.jpg" class="image" width="260" height="310" alt="Интерьер">
        </picture>
      </li>
      <li class="promo__item promo__item--5 rellax" data-rellax-speed="2" data-rellax-percentage="0">
        <picture class="picture promo__picture">
          <source srcset="img/promo-image-5.avif" type="image/avif">
          <source srcset="img/promo-image-5.webp" type="image/webp">
          <img loading="lazy" src="img/promo-image-5.jpg" class="image" width="243" height="276" alt="Интерьер">
        </picture>
      </li>
    </ul>
  </div>
</section>
