<section class="services" data-anchor="services">
  <div class="container services__container">
    <div class="services__wraper">
      <h2 class="title h2 services__title">Наши услуги</h2>
      <p class="text services__text">Окрашивания, услуги в четыре руки, стрижкии укладки, макияж, косметология и уже
        легендарные «брови» — мы работаем для тех, кто ценит время, качество и комфорт. Мы работаем для вас!
      </p>
      <button type="button" class="btn-reset btn btn-large btn-large--primary services__btn" data-dynamic-state="services__container, 768, last">
        <span class="btn__text">Смотреть все</span>
      </button>
    </div>
    <ul class="list-reset services__list">
      <li class="services__item">
        <a href="#">
          <figure class="figure services__figure">
            <picture class="picture services__picture">
              <source srcset="img/services-image-1.avif" type="image/avif">
              <source srcset="img/services-image-1.webp" type="image/webp">
              <img loading="lazy" src="img/services-image-1.jpg" class="image" alt="Брови и ресницы">
            </picture>
            <figcaption class="services__desc">Брови и ресницы</figcaption>
          </figure>
        </a>
      </li>
      <li class="services__item">
        <a href="#">
          <figure class="figure services__figure">
            <picture class="picture services__picture">
              <source srcset="img/services-image-2.avif" type="image/avif">
              <source srcset="img/services-image-2.webp" type="image/webp">
              <img loading="lazy" src="img/services-image-2.jpg" class="image" alt="макияж и прически">
            </picture>
            <figcaption class="services__desc">макияж и прически</figcaption>
          </figure>
        </a>
      </li>
      <li class="services__item">
        <a href="#">
          <figure class="figure services__figure">
            <picture class="picture services__picture">
              <source srcset="img/services-image-3.avif" type="image/avif">
              <source srcset="img/services-image-3.webp" type="image/webp">
              <img loading="lazy" src="img/services-image-3.jpg" class="image" alt="косметология">
            </picture>
            <figcaption class="services__desc">косметология</figcaption>
          </figure>
        </a>
      </li>
      <li class="services__item">
        <a href="#">
          <figure class="figure services__figure">
            <picture class="picture services__picture">
              <source srcset="img/services-image-4.avif" type="image/avif">
              <source srcset="img/services-image-4.webp" type="image/webp">
              <img loading="lazy" src="img/services-image-4.jpg" class="image" alt="парикмахерские услуги">
            </picture>
            <figcaption class="services__desc">парикмахерские услуги</figcaption>
          </figure>
        </a>
      </li>
      <li class="services__item">
        <a href="#">
          <figure class="figure services__figure">
            <picture class="picture services__picture">
              <source srcset="img/services-image-5.avif" type="image/avif">
              <source srcset="img/services-image-5.webp" type="image/webp">
              <img loading="lazy" src="img/services-image-5.jpg" class="image" alt="маникюр и педикюр">
            </picture>
            <figcaption class="services__desc">маникюр и педикюр</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </div>
</section>
