<div class="tickers">
  <div class="ticker ticker--left">
    <div class="ticker__wrapper">
      <div class="ticker__item">Профессиональная косметика и материалы</div>
      <div class="ticker__item">Наличие парковки</div>
      <div class="ticker__item">VIP-кабинет</div>
      <div class="ticker__item">Стильный дизайн и комфортная атмосфера</div>
    </div>
    <div class="ticker__wrapper">
      <div class="ticker__item">Профессиональная косметика и материалы</div>
      <div class="ticker__item">Наличие парковки</div>
      <div class="ticker__item">VIP-кабинет</div>
      <div class="ticker__item">Стильный дизайн и комфортная атмосфера</div>
    </div>
    <div class="ticker__wrapper">
      <div class="ticker__item">Профессиональная косметика и материалы</div>
      <div class="ticker__item">Наличие парковки</div>
      <div class="ticker__item">VIP-кабинет</div>
      <div class="ticker__item">Стильный дизайн и комфортная атмосфера</div>
    </div>
    <div class="ticker__wrapper">
      <div class="ticker__item">Профессиональная косметика и материалы</div>
      <div class="ticker__item">Наличие парковки</div>
      <div class="ticker__item">VIP-кабинет</div>
      <div class="ticker__item">Стильный дизайн и комфортная атмосфера</div>
    </div>
  </div>
  <div class="ticker ticker--right">
    <div class="ticker__wrapper">
      <div class="ticker__item">Профессиональная косметика и материалы</div>
      <div class="ticker__item">Наличие парковки</div>
      <div class="ticker__item">VIP-кабинет</div>
      <div class="ticker__item">Стильный дизайн и комфортная атмосфера</div>
    </div>
    <div class="ticker__wrapper">
      <div class="ticker__item">Профессиональная косметика и материалы</div>
      <div class="ticker__item">Наличие парковки</div>
      <div class="ticker__item">VIP-кабинет</div>
      <div class="ticker__item">Стильный дизайн и комфортная атмосфера</div>
    </div>
    <div class="ticker__wrapper">
      <div class="ticker__item">Профессиональная косметика и материалы</div>
      <div class="ticker__item">Наличие парковки</div>
      <div class="ticker__item">VIP-кабинет</div>
      <div class="ticker__item">Стильный дизайн и комфортная атмосфера</div>
    </div>
    <div class="ticker__wrapper">
      <div class="ticker__item">Профессиональная косметика и материалы</div>
      <div class="ticker__item">Наличие парковки</div>
      <div class="ticker__item">VIP-кабинет</div>
      <div class="ticker__item">Стильный дизайн и комфортная атмосфера</div>
    </div>
  </div>
</div>
